node_modules
npm-debug.log
mongo/*
!mongo/*.json

mongo/journal/WiredTigerPreplog.0000000002

mongo/journal/WiredTigerLog.0000000001

mongo/mongod.lock

mongo/storage.bson

mongo/sizeStorer.wt

mongo/WiredTiger

mongo/WiredTiger.lock

mongo/WiredTigerLAS.wt

public/__MAC*


