node_modules
npm-debug.log

/mongo/WiredTiger*
/mongo/journal/
/mongo/diagnostic.data/
/mongo/mongod.lock
/mongo/sizeStorer.wt
/mongo/storage.bson
/mongo/collection*
/mongo/_mdb_catalog.wt
/mongo/index*
