<!DOCTYPE html>
<!-- general application creation pages-->
<html>

<head>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
    <!-- Theme CSS -->
    <link href="css/creative.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
     <![endif]-->
    <meta charset="utf-8">
    <title>Admin Add User</title>
    <link rel="stylesheet" type="text/css" href="#"> </head>

<body>
    <h1>

        <img src ="img/uottawa_logo.png" width = "100" height = "100" alt = "logo of uottawa">
        Travel Grant Application System
        <p class= "search">
          <label>Search:
        <input type="search" placeholder = "search query"/> </label>
        <a href = "localhost:3000">Sign out</a>
      </p>
        </h1>
    <h1>
          Add User
          <script>
          // document.write("<h4>hello "+"who" +" Application_id "+"</h4>");

          </script>
        </h1>
    <script>
        //  var currentdate = new Date();
        //  var datetime =currentdate.getDate() + "/"
        //       + (currentdate.getMonth()+1)  + "/"
        //       + currentdate.getFullYear();
        //  document.writeln("<h4>Application "+"applictaion_id"+" -Started on "+datetime +" - Last Edited: "+datetime+" by who </h4>");
    </script>
    <!--create application info-->
    <p>
        <label>First name:
            <input type="text" id="fname" maxlength="30" size="15"> </label>
    </p>
    <p>
        <label>Last name:
            <input type="text" id="lname" maxlength="30" size="15"> </label>
    </p>
    <p>
        <label>email:
            <input type="email" id="email"> </label>
    </p>
    <p>
        <label>ID
            <input type="id" id="ID"> </label>
    </p>
    <p>
        <label>Password
            <input type="password" id="pwd"> </label>
    </p>
    <p>
        <input type="submit" id="submit" value="Submit">
        <input type="reset" value="Cancel"> </p>
</body>
<script>
    $(document).ready(function () {
        var fname, lname, email, id, pwd;
        $("#submit").click(function () {
            fname = $("#fname").val();
            lname = $("#lname").val();
            email = $("#email").val();
            id = $("#ID").val();
            pwd = $("#pwd").val();
            if (false) {
                alert("Please enter the email and password");
            }
            else {
                $.post("register", {
                    fname: fname
                    , lname: lname
                    , email: email
                    , id: id
                    , pwd: pwd
                , }, function (data) {
                    alert("success!");
                    // if (data === 'user') {
                    //   alert(data+"data");
                    //   window.location = "http://localhost:3000/users";
                    // }
                    // if(data==='admin'){
                    //   window.location="http://localhost:3000/admin";
                    // }
                    // if(data==='evaluator'){
                    //   window.location="http://localhost:3000/evaluator";
                    // } else {
                    //   window.location = "http://localhost:3000/";
                    // }
                });
            }
        });
    });
</script>

</html>