<!DOCTYPE html>

<!-- general admin main page-->
<html>
   <head>
      <meta charset = "utf-8">
      <title>Requester_main</title>
      <link rel = "stylesheet" type = "text/css" href="#">
    </head>
    <body>
      <h1>

        <img src ="img/uottawa_logo.png" width = "100" height = "100" alt = "logo of uottawa">
        Travel Grant Application System
        <p class= "search" >
          <label>Search:
        <input type="search" placeholder = "search query"/> </label>
        <a href = "#">Sign out</a>
      </p>
        </h1>
        <nav>
                <ul>
                  <li><a href = "user_info.html">Profile</a></li>
                   <li><a href = "create-application">Create Application</a></li>
                </ul>
        </nav>
          <!--applications which have been created-->
          <!--fetch from db-->
   <script src = "Requester_main.js"></script>

</body>
</html>
