
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Set Parameter</title>

    <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="../public/bootstrap/js/bootstrap.min.js"></script>

       <link rel="stylesheet" href="../public/dist/css/bootstrapValidator.css"/>

       <script type="text/javascript" src="../public/dist/js/bootstrapValidator.js"></script>




    <!-- MetisMenu CSS -->
    <link href="../public/template/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../public/template/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../public/template/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../public/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../public/template/dist/js/sb-admin-2.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>


<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Hello!</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li class="divider"></li>
                        <li><a href="notifications.html"><i class="fa fa-bomb fa-fw"></i> notification</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Log out</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="http://localhost:3000/admin_page"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/create_user_page"><i class="fa fa-bar-chart-o fa-fw"></i> Add User</a>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="http://localhost:3000/update_user_page"><i class="fa fa-table fa-fw"></i> Update User</a>
                        </li>
                        <li>
                            <a href="http://localhost:3000/set_parameter_page"><i class="fa fa-edit fa-fw"></i>Set Parameter</a>
                        </li>
                            <!-- /.nav-second-level -->
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                        Parameter List
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="parametertable">
                                <thead>
                                    <tr>
                                        <th>Grant Limit</th>
                                        <th>Category</th>
                                        <th>Reimbursement Limit</th>

                                    </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                        <td id = "grant_imit"></td>
                                        <td id="category"></td>
                                        <td id="reim_limit"></td>
                                    </tr>
                                    <tr>

    <td><input type="text" id="grant_limit_in"/></td>
    <td><input type="text" id="category_in"/></td>
    <td><input  type="text" id="reim_limit_in" /></td>
    <td><input type="button" id="addparmameter" value="Add" onclick="insRow()"/></td>
</tr>
                                </tbody>
                            </table>
                           </div> </div> </div> </div> </div> </div>


<script>
$("input:text").change(function() {
    var value=$("input:text").val();
});
function insRow()
{
    var x=document.getElementById('parametertable').insertRow(1);
    var c1=x.insertCell(0);
    var c2=x.insertCell(1);
    var c3=x.insertCell(2);
    c1.innerHTML=document.getElementById('grant_limit_in').value;
    c2.innerHTML=document.getElementById('category_in').value;
        c3.innerHTML=document.getElementById('reim_limit_in').value;
}

$(document).ready(function() {
  $("#addparmameter").click(function() {
    alert("sdsd");
  grand_limit = $("#grant_limit_in").val();
  category = $("#category_in").val();
  reim_limit_in = $("#reim_limit_in").val();


  if (false) {
  alert("Please enter the email and password");
  } else {
  $.post("http://localhost:3000/set_parameter", {
  grand_limit: grand_limit,
  category: category,
  reim_limit_in: reim_limit_in
  }, function(data) {
  alert("success!");
  // if (data === 'user') {
  //   alert(data+"data");
  //   window.location = "http://localhost:3000/users";
  // }
  // if(data==='admin'){
  //   window.location="http://localhost:3000/admin";
  // }
  // if(data==='evaluator'){
  //   window.location="http://localhost:3000/evaluator";
  // } else {
  //   window.location = "http://localhost:3000/";
  // }
  });
  }
  });
});

</script>
</body>

</html>
