body {
  font-family:arial,helvetica,sans-serif;
}

h1{
  border: 1px solid black;
  vertical-align:top;
  line-height:2em;}
h1 img { vertical-align : top;}
h1 p{font-size:0.2em;
  margin-left :23em;

}
