<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Hello!</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li class="divider"></li>
                        <li><a href="notifications.html"><i class="fa fa-bomb fa-fw"></i> notification</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Log out</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="main_page_requester.html"><i class="fa fa-dashboard fa-fw"></i> Main Page</a>
                        </li>
                        <li>
                            <a href="add_user.html"><i class="fa fa-bar-chart-o fa-fw"></i> Add User</a>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="user_list.html"><i class="fa fa-table fa-fw"></i> Update User</a>
                        </li>
                        <li>
                            <a href="student_application_status.html"><i class="fa fa-edit fa-fw"></i> View Application</a>
                        </li>
                            <!-- /.nav-second-level -->
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Update User information</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                          New User Info
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form action="#" method = "post" >
                                        <div class="form-group">
                                            <label>first name:
                                            <input class="form-control" type = "text" id="fname" required>
                                            </label>
                                            <label>Last name:
                                            <input class="form-control" type = "text" id="lname" required>
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input class="form-control"  id="email" placeholder="name@doamin-name.com" required>
                                        </div>
                                        <div class="form-group">
                                            <label>Login id:
                                            <input class="form-control"id="ID" type = "text" required>
                                            </label>
                                            <label>Password:
                                            <input class="form-control"  id="pwd" type = "password" required>
                                            </label>
                                        </div>
                                        <div class="form-group">
                                          <div class="form-group">
                                            <details>
                                              <summary >For Requester</summary>
                                              <p><label>Student Number:
                                              <input class="form-control" type = "text" id = "student_id">
                                              </label>
                                            </p>
                                            <p><label>Academic unit:
                                              <input class="form-control" type = "text" id = "academic_unit">
                                              </label>
                                            </p>
                                            <p><label>Program:
                                            <input class="form-control" type = "text" id= "program">
                                            </label>
                                          </p>
                                          <p><label>Session number:
                                            <input class="form-control" type = "text"id = "session_num">
                                            </label>
                                          </p>
                                          </details></div>
                                          <div class="form-group">
                                            <details>
                                              <summary>For Superviosr</summary>
                                              <p><label>Employee Number:
                                              <input class="form-control" type = "text" id="semp_num">
                                              </label>
                                            </p>
                                            <p><label>Grant Account Numbers:
                                              <input class="form-control" type = "text" id="grant_acc_num">
                                              </label>
                                            </p>

                                          </details></div>
                                          <div class="form-group">
                                            <details>
                                              <summary>For FGPS Staff</summary>
                                              <p><label>Employee Number:
                                              <input class="form-control" type = "text" id="femp_num">
                                              </label>
                                            </p>
                                          </details></div>
                                          <button type="submit"id="submit"  class="btn btn-default">Submit</button>
                                          <button type="reset" class="btn btn-default">Reset</button>
                                          <button type="button" class="btn btn-default" onclick="#">Delete</button></div>
                                      </form>
                                </div>
                                <!-- /.col-lg-6 (nested) -->

                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

</body>


</html>
